In [19]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\himan\anaconda3\lib\site-packages (9.3.0)

In [20]:
import pandas as pd
import mysql.connector

# Load the transformed CSV
df = pd.read_csv("../data/headlines_transformed.csv")

In [21]:
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Himanshum7",  # ← Replace this
    database="news_db"
)

cursor = conn.cursor()

In [22]:
count = 0
cursor.execute("TRUNCATE TABLE headlines")
for _, row in df.iterrows():
    sql = """
    INSERT INTO headlines (title, url, date, clean_title, sentiment, sentiment_label)
    VALUES (%s, %s, %s, %s, %s, %s)
    """
    values = (
        row['title'],
        row['url'],
        row['date'],
        row['clean_title'],
        float(row['sentiment']),
        row['sentiment_label']
    )
    cursor.execute(sql, values)
    count += 1

conn.commit()
cursor.close()
conn.close()

print(f"✅ Successfully inserted {count} rows into MySQL.")

✅ Successfully inserted 30 rows into MySQL.

30