In [7]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from textblob import TextBlob
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [3]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
Collecting nltk>=3.9
  Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
Requirement already satisfied: regex>=2021.8.3 in c:\users\himan\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2021.8.3)
Requirement already satisfied: joblib in c:\users\himan\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.1.0)
Requirement already satisfied: click in c:\users\himan\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.3)
Requirement already satisfied: tqdm in c:\users\himan\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\users\himan\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.4)
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.6.5
    Uninstalling nltk-3.6.5:
      Successfully uninstalled nltk-3.6.5
Successfully installed nltk-3.9.1 textblob-0.19.0

In [5]:
!python -m textblob.download_corpora

Finished.

[nltk_data] Downloading package brown to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\brown.zip.
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger_eng.zip.
[nltk_data] Downloading package conll2000 to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\conll2000.zip.
[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\himan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\movie_reviews.zip.

In [8]:
df = pd.read_csv("../data/headlines_raw.csv")
df.head()

       title                                 url                        date
0     Sports     https://www.reuters.com/sports/  2025-07-07T01:00:47.674494
1    Science    https://www.reuters.com/science/  2025-07-07T01:00:47.674494
2  Lifestyle  https://www.reuters.com/lifestyle/  2025-07-07T01:00:47.674494
3   Graphics   https://www.reuters.com/graphics/  2025-07-07T01:00:47.674494
4   Pictures   https://www.reuters.com/pictures/  2025-07-07T01:00:47.674494

In [9]:
STOPWORDS = set(stopwords.words('english'))

def clean_text(text):
    text = re.sub(r'[^a-zA-Z ]', '', text)      # remove symbols/punctuation
    text = text.lower()                         # convert to lowercase
    text = ' '.join(word for word in text.split() if word not in STOPWORDS)  # remove stopwords
    return text

In [10]:
df['clean_title'] = df['title'].apply(clean_text)
df[['title', 'clean_title']].head()

       title clean_title
0     Sports      sports
1    Science     science
2  Lifestyle   lifestyle
3   Graphics    graphics
4   Pictures    pictures

In [11]:
df['sentiment'] = df['clean_title'].apply(lambda x: TextBlob(x).sentiment.polarity)

In [12]:
def label_sentiment(score):
    if score > 0.1:
        return 'Positive'
    elif score < -0.1:
        return 'Negative'
    else:
        return 'Neutral'

df['sentiment_label'] = df['sentiment'].apply(label_sentiment)

In [13]:
df[['title', 'clean_title', 'sentiment', 'sentiment_label']].head(10)

         title  clean_title  sentiment sentiment_label
0       Sports       sports   0.000000         Neutral
1      Science      science   0.000000         Neutral
2    Lifestyle    lifestyle   0.000000         Neutral
3     Graphics     graphics   0.000000         Neutral
4     Pictures     pictures   0.000000         Neutral
5  Wider Image  wider image   0.000000         Neutral
6     Podcasts     podcasts   0.000000         Neutral
7         Live         live   0.136364        Positive
8   Fact Check   fact check   0.000000         Neutral
9        Video        video   0.000000         Neutral

In [14]:
df.to_csv("../data/headlines_transformed.csv", index=False)
print("✅ Transformed data saved to data/headlines_transformed.csv")

✅ Transformed data saved to data/headlines_transformed.csv

In [15]:
len(df)

30